body {
  font-family: sans-serif;
}

.data-form {
  display: flex;
  align-items: center;
}

.data-form__control {
  margin: 0 5px;
}

.data-form__input {
  padding: 5px 10px;
}

.data-form__submit {
  all: unset;
  background-color: steelblue;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}
